# .clang-format
BasedOnStyle: LLVM
Language:        Cpp

IndentWidth:     4
ColumnLimit:     100

BinPackParameters: true
BinPackArguments:                          false
AllowAllParametersOfDeclarationOnNextLine: false

BreakBeforeBraces:                         Attach

AlignConsecutiveDeclarations:              true
AlignConsecutiveAssignments:               true

SpaceAfterCStyleCast:                      true
SpaceInEmptyParentheses:                   false

AllowShortFunctionsOnASingleLine:          All
AllowShortCaseLabelsOnASingleLine:         true
AllowShortBlocksOnASingleLine:             true
AllowShortIfStatementsOnASingleLine:       true
AllowShortLoopsOnASingleLine:              true
AllowShortEnumsOnASingleLine:              true
AllowShortLambdasOnASingleLine:            true

MacroBlockBegin:                           '{'
MacroBlockEnd:                             '}'

SortIncludes:                              false
NamespaceIndentation:                      Inner
FixNamespaceComments:                      true
AlignAfterOpenBracket:                     DontAlign
AlwaysBreakTemplateDeclarations:           Yes
